@model IEnumerable<LunchBox.orderDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.item.snackType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order.orderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.item.snackType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order.orderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.orderDetail_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.orderDetail_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.orderDetail_ID })
        </td>
    </tr>
}

</table>
